{% extends "berlin/layout.html" %}
{% block home %}
Home
{% endblock %}
{% block content %}
<p>Berlin The City of Museums </p>
<p>
    Berlin, the vibrant capital of Germany, is a city steeped in history, culture, and artistic expression. Known for its iconic landmarks 
    like the Brandenburg Gate and Berlin Wall, the city seamlessly blends a rich past with a dynamic present, 
    offering a diverse tapestry of museums, theaters, and eclectic neighborhoods. Berlin's unique atmosphere, 
    shaped by its resilient spirit and creative energy, makes it a captivating destination for those seeking a blend of tradition and modernity.
</p>

{% endblock %}